<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@700&family=Poppins:wght@700&family=Satisfy&family=Tektur:wght@800&display=swap" rel="stylesheet">
</head>
<body>

    <div class="navbar">
        <button onclick='window.open("/" ) ' class="button_t home">BLOG WEBSITE</button>
        <button onclick='window.open("https://github.com/arnavgupta00" ,"blank") ' class="button_t">About</button>
        <button onclick='window.open("https://github.com/arnavgupta00" ,"blank") ' class="button_t">Contact</button>
    </div>
    <div class="composeForm">

        <form action="/composeose" id="form" class="form" method="POST">
            <input class="titleBox" name="composeTitle" type="text" placeholder="Title" >
            <input class="contentBox" name="composeContent" type="text" placeholder="Content" >
            <input class="Compose_b button_t" type="submit" value="COMPOSE" placeholder="Compose" formaction="/composeose/submit" >
        
        </form>

    </div>

    <script src="script.js"></script>
</body>
</html>